
.navbar {
    background: rgba(8, 4, 4, 0.4);
    color: black;
    
}
 
ul { 
    padding-right: 355px;
    padding-top: 15px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px ;
}
body {
    background-image: url("images/meditation-1384758_1920.jpg");
    background-size: 300%;
    background-attachment: fixed
   
    
}

h1 {
    display: flex;
    align-content: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px ;
    font-weight: bold ;
    padding-left: 190px;
    color:  rgb(227, 219, 230);

}

h2 {
    display: flex;
    align-content: center;
    width: 880px;
    padding-top: 8px;
    padding-bottom: 10px ;
    border-bottom: 1px solid lightgray;
    
  
    
 
}



.container {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 960px;
    background-color: white;
    padding-right: 15px;
    padding-left: 2px;
    margin-bottom:400px ;
}


.form {
    color: white;
    margin-top: 30px;
    
}


.card-deck {
    height: 40px;
    width: 910px;
    padding-top: 20px;
}

.card-body {
     position: absolute;
     bottom: 20px;
     width: 272px;
     text-align: center;
     background: rgb(182, 22, 128);
    
}


.footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    background-color: rgba(8, 4, 4, 0.4);
    text-align: center;
    background: rgba(8, 4, 4, 0.4);
    color:  rgb(227, 219, 230);
   

}

