
.navbar {
    background: rgba(255, 255, 255, 0.6);
    color: black
  
}

body {
    background-image: url("images/meditation-1384758_1920.jpg");
    background-size: cover;
}
.navbar-toggler {
    color-adjust: black;
}
h1 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px ;
    font-weight: bold ;
}




.bio {
margin: 0;
background: white;
position: absolute;
height: 800px;
width: 960px;
top: 30%;
left: 300px;


}

.jumbotron {
    display: flex;
    flex-direction: center;
    height: 500px;
    width: 960px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color:grey;
    text-align: center;
}