jumbotron-fluid {
    
    height: 100 ;
    margin: 0;
    background-image: url ("C:\Users\AyDy\desktop\class\homework\bootstrap-portfolio\images\AB (2).jpg)" ;
}
.navbar {
    background: rgba(255, 255, 255, 0.8);
    color: black
  
}

.navbar-toggler {
    color-adjust: black;
}
h1 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px ;
    font-weight: bold ;
}



.banner {
    width: 100%;

}
.bio {
margin: 0;
background: white;
position: absolute;
height: 800px;
width: 960px;
top: 30%;
left: 300px;


}

.container {
    margin: 0;
    background: white;
    position: absolute;
    height: 800px;
    width: 960px;
    top: 30%;
    left: 300px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    color:grey;
    text-align: center;
}